<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NorthWindConnectionString"
			providerName="System.Data.SqlClient"
			connectionString="Data Source=MI_PRO\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"/>
	</connectionStrings>
</configuration>